<div class="container" data-aos="fade-up">
  <div class="row justify-content-center mb-90">
    <div class="col-lg-9 text-center section-title">
      <h2
        class="m-0 px-lg-70 animated"
        style="
          transform: translateY(0px);
          transition-duration: 500ms;
          opacity: 1;
        "
      >
        We connect brands with users to drive engagement and growth by designing
        elegant, user-centred and purpose-built experiences
      </h2>
			<p>
				TechTose is an independent creative agency and design consultancy comprised of web design, UX/UI design and branding experts an interdisciplinary design team working with brands worldwide
			</p>
    </div>
  </div>
  <div class="row gy-30">
    <div
      class="col-12 col-md-6 col-lg-4 animated"
      data-show="startbox"
      style="transform: translateY(0px); transition-duration: 500ms; opacity: 1"
    >
      <!-- Service box-->
      <div class="service-box lift position-relative rounded-4 bg-gray-light">
        <!-- Circle icon-->
        <div class="mb-30">
          <img
            class="mx-auto"
            src="../../../../assets/img/our-services/designer.jpg"
          />
        </div>
        <h4 class="service-box-title mb-15">Designer</h4>
        <p class="service-box-text font-size-15 mb-30">
          We design websites, apps and print collateral for some of the world’s
          most recognized brands
        </p>
      </div>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 animated"
      data-show="startbox"
      data-show-delay="100"
      style="transform: translateY(0px); transition-duration: 500ms; opacity: 1"
    >
      <!-- Service box-->
      <div class="service-box lift position-relative rounded-4 bg-gray-light">
        <!-- Circle icon-->
        <div class="mb-30">
          <img
            class="mx-auto"
            src="../../../../assets/img/our-services/designer.jpg"
          />
        </div>
        <h4 class="service-box-title mb-15">Developer</h4>
        <p class="service-box-text font-size-15 mb-30">
          We design websites, apps and print collateral for some of the world’s
          most recognized brands
        </p>
      </div>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 animated"
      data-show="startbox"
      data-show-delay="200"
      style="transform: translateY(0px); transition-duration: 500ms; opacity: 1"
    >
      <!-- Service box-->
      <div class="service-box lift position-relative rounded-4 bg-gray-light">
        <!-- Circle icon-->
        <div class="mb-30">
          <img
            class="mx-auto"
            src="../../../../assets/img/our-services/designer.jpg"
          />
        </div>
        <h4 class="service-box-title mb-15">Strategist</h4>
        <p class="service-box-text font-size-15 mb-30">
          We design websites, apps and print collateral for some of the world’s
          most recognized brands
        </p>
      </div>
    </div>
  </div>
</div>
