.tt-sub-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
}

.tt-secondary-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

.tt-legend-heading-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 192px;
  line-height: 256px;
  text-align: center;
  color: #524da8;
}
