<section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col align-items-center d-flex flex-column justify-content-center">
            <!-- <app-lottie-example-one></app-lottie-example-one> -->
          <h5 class="tt-sub-header">TechTose Designs Beautifull websites through startergy-driven designs</h5>
          <p class="tt-secondary-text">We are an awards winning Agency based in indore</p>
          <div class="tt-legend-heading-text">Design</div>
        </div>
      </div>
    </div>
  </section>