  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <app-home-light></app-home-light>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="our-services" class="our-services">
      <app-our-services-section></app-our-services-section>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="our-work" class=".our-work section-bg">
      <app-our-work-section></app-our-work-section>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="our-blog" class="our-blog">
      <app-our-blog-section></app-our-blog-section>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- <div id="preloader"></div> -->

<router-outlet></router-outlet>
