<div class="container" data-aos="fade-up">
  <div class="tt-well">
    <div class="tt-section-title">
      <div class="text-center col-lg-3 col-md-12 col-sm-12">
        <h6 class="sub-heading-left">FROM OUR BLOG</h6>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 section-title">
        <h2>
          We are curiosity-driven, inspired by good design, innovative web
          technologies & cool brands
        </h2>
      </div>
    </div>
		<div class="row">
			<div class="text-center col-lg-3 col-md-6 col-sm-12">
				<div class="img-round">
					<img class="img-circle" src="../../../../assets/img/our-blog/blog-auther-1.png" alt=".." />
				</div>
				<div class="user-intro">
					<div class="username">By John Doe</div>
					<div class="published-date">22 July 2020</div>
				</div>
				<div class="blog-title">Microcopy - A small feature that makes a huge impact</div>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-12">
				<div class="img-round">
					<img class="img-circle" src="../../../../assets/img/our-blog/blog-auther-1.png" alt=".." />
				</div>
				<div class="user-intro">
					<div class="username">By John Doe</div>
					<div class="published-date">22 July 2020</div>
				</div>
				<div class="blog-title">Microcopy - A small feature that makes a huge impact</div>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-12">
				<div class="img-round">
					<img class="img-circle" src="../../../../assets/img/our-blog/blog-auther-1.png" alt=".." />
				</div>
				<div class="user-intro">
					<div class="username">By John Doe</div>
					<div class="published-date">22 July 2020</div>
				</div>
				<div class="blog-title">Microcopy - A small feature that makes a huge impact</div>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-12">
				<div class="img-round">
					<img class="img-circle" src="../../../../assets/img/our-blog/blog-auther-1.png" alt=".." />
				</div>
				<div class="user-intro">
					<div class="username">By John Doe</div>
					<div class="published-date">22 July 2020</div>
				</div>
				<div class="blog-title">Microcopy - A small feature that makes a huge impact</div>
			</div>
			
		</div>
  </div>
</div>
